@model TurneroFaeracWeb.Models.Usuarios

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/res/style.css">
</head>
<body>
    <img src="~/images/santaclogochico.jpg" />
    <div class="wrapper">
        <h2>Login</h2>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="input-box">
                @Html.EditorFor(model => model.Usuario, new { @type = "text", @placeholder = "Nombre de Usuario", @required = "" })
            </div>
            <div class="input-box">
                @Html.PasswordFor(model => model.Contraseña, new { @type = "password", @placeholder = "Escriba Contraseña", @required = "" })
            </div>
            <div class="input-box button">
                <input type="submit" class="btn btn-primary" value="Login">
                <span style="color: red;">@ViewBag.ErrorMessage </span>
            </div>
           if (@ViewBag.Mensaje != null)
            {
                <div class="alert alert-success">
                    @ViewBag.Mensaje
                </div>
            }
            else if (@ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.ErrorMessage
                </div>
            }
            <div class="text">
                <h3>No tienes una cuenta? <a class="btn btn-link" href="@Url.Action("Registro","Login")">Registrarse</a></h3>
                <h3>Te Olvidaste tu Contraseña? <a class="btn btn-link" href="@Url.Action("Restablecer","Login")">Restablecer Contraseña</a></h3>
            </div>
        }
    </div>
</body>
</html>
