@model TurneroFaeracWeb.Models.Usuarios

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Agrega la referencia a SweetAlert2 desde su CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11">
    <link rel="stylesheet" href="~/res/style.css">
</head>
<body>
    <img src="~/images/santaclogochico.jpg" />
    <div class="wrapperstyle=width:600px ;">
        <div class="col-5">
            <div class="card" style="width:500px ;">
                <div class="card-header">
                    <h3 class="text-center">Registrar cuenta</h3>
                </div>
                <div class="card-body">
                    @if (ViewBag.Creado == null)
                    {
                        using (Html.BeginForm("Registro", "Login", FormMethod.Post, new { onsubmit = "return validarContraseñas();" }))
                        {
                            <div class="input-box">
                                @Html.LabelFor(p => p.Usuario)
                                <br />
                                @Html.EditorFor(p => p.Usuario, new { @type = "text", @class = "form-control", @placeholder = "Ingrese Nombre de Usuario", @required = "required" })
                                <span style="color: red;">@ViewBag.MensajeUsuario</span>
                            </div>
                            <div class="input-box">
                                @Html.LabelFor(p => p.Contraseña)
                                <br/>
                                @Html.PasswordFor(p => p.Contraseña, new { @class = "form-control", @placeholder = "Crear Contraseña", @required = "required", @id = "Contraseña" })
                            </div>
                            <div class="input-box">
                                @Html.Label("Confirmar Contraseña:")
                                <br />
                                @Html.Password("ConfirmarContraseña", null, new { @class = "form-control", @placeholder = "Confirmar Contraseña", @required = "required", @id = "ConfirmarContraseña" })
                                <span style="color: red;" id="mensajeContraseña"></span>
                            </div>
                            <div class="input-box">
                                @Html.LabelFor(p => p.Correo)
                                <br />
                                @Html.EditorFor(p => p.Correo, new { @type = "email", @class = "form-control", @placeholder = "Ingrese su Email", @required = "required" })
                                <span style="color: red;">@ViewBag.MensajeCorreo</span>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(p=> p.Genero)
                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="Genero" name="IdGenero">
                                    <option selected>Seleccione su Genero</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Femenino</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>

                            <!-- Agrega una sección para mensajes de notificación -->
                            <div id="notificacion" class="d-none"></div>

                            if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Mensaje
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Registrarse</button>
                                    <a class="btn btn-link" href="@Url.Action("Login","Login")">Ya tienes una cuenta? Inicia sesion</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Agrega el script de SweetAlert2 desde su CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function validarContraseñas() {
            var contraseña = document.getElementById('Contraseña').value;
            var confirmarContraseña = document.getElementById('ConfirmarContraseña').value;
            var mensajeContraseña = document.getElementById('mensajeContraseña');

            if (contraseña === confirmarContraseña) {
                mensajeContraseña.innerText = '';
                return true;
            } else {
                mensajeContraseña.innerText = 'Las contraseñas no coinciden';
                return false;
            }
        }

        function MostrarNotificacion() {
            Swal.fire({
                title: 'Registrado Correctamente',
                text: 'Por favor, ingrese usuario y contraseña',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        }

        // Agrega este script para mostrar la notificación después del redireccionamiento
        window.onload = function () {
            var notificacion = document.getElementById('notificacion');
            if (notificacion.innerText.trim() !== '') {
                MostrarNotificacion();
                notificacion.classList.remove('d-none');
            }
        };
    </script>

</body>
</html>
