@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restablecer</title>
    <link rel="stylesheet" href="~/res/EstiloLogin.css">
    @Styles.Render("~/res/Homestilo")
</head>

<body>
    <div class="row justify-content-center mt-5">

        <div class="col-5">

            <div class="card" >
                <img src="~/images/SantaClogoGr.jpg" />
                <div class="card-header"><h3 class="text-center">Restablecer cuenta</h3></div>
                <div class="card-body">
                    @if (ViewBag.Restablecido == null)
                    {
                        <form action="@Url.Action("Restablecer","Login")" method="post">
                            <p>Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</p>

                            <div class="mb-3">
                                <label>Correo</label>
                                <input type="email" class="form-control" name="correo" value="@(ViewBag.Correo !=null ? ViewBag.Correo : "")" required />
                            </div>

                            @if (ViewBag.Mensaje != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Mensaje
                                </div>
                            }

                            <div class="mb-3">
                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Restablecer</button>
                                    <button class="btn btn-primary" type="button" onclick="window.location.href='@Url.Action("Login", "Login")'">Volver</button>

                                </div>
                            </div>


                        </form>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <p>Su contraseña fue restablecida, le enviamos un mensaje su correo para restablecer.</p>
                            <a class="btn btn-success" href="@Url.Action("Login","Login")">Ingresar</a>
                        </div>
                    }




                </div>
            </div>

        </div>

    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>